/* Сперва общие правила */

* {
    box-sizing: border-box
}

/* Потом селекторы по тегам */

html {

}

main {
    width: 300px;
    margin: 0px auto;
    font-family:Arial
}
h2{
font-family:Arial
}

p {
font-size:11px
}

a {
text-decoration:none
}

/* Колонки */

.row {
display:flex
}
.col {
flex:auto
}


/* Потом селекторы по классам */

.text-input {

}

.button {
text-align:center;
padding:10px;
margin-top:10px;
color:#FFFFFF;
background-color:#554AF0;
border-radius:5px;
border:solid 2px #FFFFFF
}

/* Потом специальные правила по страничкам */

/* Login*/

.input-login {
margin-top:15px;
width:100%;
height:40px;
border-radius:5px;
border:solid 2px #d2d9d5

}


/* Страничка жанров и тегов */

.genre-first {
width:100%;
border-radius:5px;
background-color:#E1F5EA;
margin:5px;
padding:5px;
}

.genre-second {
width:75%;
border-radius:5px;
background-color:#CBEDFF;
margin:5px;
padding:5px;
}

.genre-third {
width:50%;
border-radius:5px;
background-color:#FBECDD;
margin:5px;
padding:5px;
}

.genre-fourth {
width:25%;
border-radius:5px;
background-color:#EBDCF9;
margin:5px;
padding:5px;
}

.tag {
text-decoration:underline;
}

/* Страничка популярного */

.cover {
margin-right:10px;
margin-bottom:10px
}

/* Страничка подписки  */

.box-green {
background-color:#E1F5EA;
width:100%;
padding-top:1px;
padding-bottom:5px;
padding-left:15px;
border-radius:5px;
}

.box-purple {
background-color:#EBDCF9;
width:100%;
padding-top:1px;
padding-bottom:5px;
padding-left:15px;
border-radius:5px;
}

.text-large {
font-size:20px;
font-weight:bold;
}

.button-link {
text-align:center;
padding:8px;
margin-top:10px;
color:#FFFFFF;
background-color:#554AF0;
border-radius:5px;
border:solid 2px #FFFFFF;
}
