/* Сперва общие правила */

* {
    box-sizing: border-box
}

/* Потом селекторы по тегам */

html {

}

main {
    width: 300px;
    margin: 0px auto;
}
h2{
font-family:Arial
}

p {

}

a {
text-decoration:none
}

/* Колонки */

.row {
display:flex
}
.col {
flex:auto
}


/* Потом селекторы по классам */

.text-input {

}

.button {
text-align:center;
padding:10px;
margin-top:10px;
color:#FFFFFF;
background-color:#554AF0;
border-radius:5px;
border:solid 2px #FFFFFF
}

/* Потом специальные правила по страничкам */

/* Login*/

.input-login {
margin-top:15px;
width:100%;
height:40px;
border-radius:5px;
border:solid 2px #d2d9d5

}


/* Страничка жанров и тегов */

.genre-first {

}

.genre-second {

}

.genre-third {

}

.genre-fourth {

}

.tag {

}

/* Страничка популярного */

.cover {
margin-right:10px;
margin-bottom:10px
}

/* Страничка подписки  */

.box-green {

}

.box-purple {

}

.text-large {

}

.button-link {
text-align:center;
padding:8px;
margin-top:10px;
color:#FFFFFF;
background-color:#554AF0;
border-radius:5px;
border:solid 2px #FFFFFF
}
